.hero {
  height: 80vh;

  display: flex;

  align-items: center;

  padding: 0 8%;

  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1600585154340-be6161a56a0c");

  background-size: cover;

  background-position: center;

  color: white;
}

.hero h1 {
  font-size: 55px;

  margin-bottom: 20px;
}

.hero p {
  font-size: 22px;

  margin-bottom: 30px;
}

.hero button {
  background: #ffffff;

  color: #222;
}
@media (max-width: 768px) {
  .hero {
    height: 70vh;

    padding: 0 5%;
  }

  .hero h1 {
    font-size: 35px;
  }

  .hero p {
    font-size: 18px;
  }
}
