.login-page {
  height: 80vh;

  display: flex;

  justify-content: center;

  align-items: center;
}

.login-card {
  background: white;

  width: 350px;

  padding: 40px;

  border-radius: 10px;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);

  text-align: center;
}

.login-card h1 {
  margin-bottom: 10px;
}

.login-card p {
  margin-bottom: 25px;

  color: #666;
}

.login-card input {
  width: 100%;

  padding: 12px;

  margin-bottom: 15px;

  border: 1px solid #ccc;

  border-radius: 5px;
}

.login-card button {
  width: 100%;

  background: #007bff;

  color: white;
}
